body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: "Microsoft YaHei";  
    background: #e6e6e6 url('//images2017.cnblogs.com/blog/1299991/201712/1299991-20171214215656717-1066277162.jpg') no-repeat top center fixed; 
    min-width: 1200px;
    background-size: cover;
}
#home {
    opacity: 0.70;
    filter: alpha(opacity=70);
    box-shadow: 0 0 10px #000;
    margin: auto;
    height: 80%;
    width: 80%;
    background: #fff;
    overflow: auto;
    border: solid 1px #fff;
    margin-top: 50px;
    margin-bottom: 50px;
}
#green_channel {
	display: none;
}
#comment_form_container .comment_textarea {
    width: 888px;
    height: 200px;
    font-size: 13px;
    padding: 8px;
    margin-bottom: 10px;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
body {
    color: #0c0c0c;
    background-color: #e6e6e6;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    min-height: 101%;
}
.postBody {
    font-size: 16px;
}
#commentform_title {
    font: normal normal 23px/35px "Microsoft YaHei";
    margin: 10px 0 30px;
    border-bottom: 2px solid #cccccc;
    background-image: none;
    padding: 0;
}
.postTitle {
    border-left: 3px solid #21759b;
    margin-bottom: 10px;
    font-size: 26px;
    float: right;
    width: 100%;
    clear: both;
}
#topics .postTitle {
    font-size: 200%;
}
#navigator {
    font-size: 16px;
}
#blogTitle h1 a {
	font-family: "細明朝体";
}
#blogTitle {
    height: 60px;
    clear: both;
    padding-top: 50px;
    font-family: "細明朝体";
}
#blogTitle h2 {
	font-family: "細明朝体";
    padding-bottom: 15px;
}
.catListTitle {
    margin-top: 21px;
    margin-bottom: 10.5px;
    text-align: left;
    border-left: 10px solid rgba(82, 168, 236, 0.8);
    padding: 10px 0 14px 10px;
    background-color: #f5f5f5;
}
#navList a:hover{
    color: #4C9ED9
}
#navList a {
    padding-top: 13px;
    font-size: 20px;
}
#blogTitle .title {
    margin-top: 10px;
    height: 120px;
    line-height: 120px;
    font-size: 36px;
    padding-left: 120px;
}
#blogTitle h1 {
    font-size: 50px;
    font-family: "細明朝体";
    height: 36px;
    line-height: 0.0em;
}
.entrylistPosttitle {
    font-size: 26px;
}
.entrylistItem {
    padding-bottom: 5px;
}
#taglist td {
    padding: 5px 99px 8px 10px;
    font-size: 15px;
}
#taglist_title {
    margin-bottom: 20px;
    font-size: 30px;
}
.syntaxhighlighter a, .syntaxhighlighter div, .syntaxhighlighter code, .syntaxhighlighter table, .syntaxhighlighter table td, .syntaxhighlighter table tr, .syntaxhighlighter table tbody, .syntaxhighlighter table thead, .syntaxhighlighter table caption, .syntaxhighlighter textarea {
    font-size: 14px!important;
}
#ad_t2 {
    margin-top: 5px;
    line-height: 1.8;
    display: none;
}
.c_ad_block {
    margin-top: 10px;
    line-height: 1.5;
    display: none;
}
.cnblogs-markdown .hljs {
    font-size: 15px!important;
}

.diggit {
	display: none;
}

.buryit {
    display: none;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: #800080 !important;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #999 !important;
}
.syntaxhighlighter .preprocessor {
    color: #b85c00 !important;
}
.syntaxhighlighter .functions {
    color: teal !important;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: #d14 !important;
}
.syntaxhighlighter .keyword {
    font-weight: normal!important;
    color: #002D7A !important;
}
#tbCommentBody{
width: 1000px;
height: 560px;
background:#fff url(//ohnx8cbmc.bkt.clouddn.com/mashiroGIF.gif) right bottom no-repeat;
padding-top:0px;
}

<div class="box">
    <div class="bg"></div>
    <p><img src="https://images2018.cnblogs.com/blog/1299991/201803/1299991-20180323192043399-796356308.jpg" alt="" /></p>
    </div>
</div>